<div class="container" style="margin: 0 padding:0">
    <div class="row" style="margin: 2rem">
        <h3>Classes</h3>
    </div>
</div>
<div class="container">
    <div class="row" style="margin: 2rem">
        <div class="col-sm-12 col-lg-4">
            <div class="calendar calendar-first" id="calendar_first">
                <div class="calendar_header">
                    <button class="switch-month switch-left"><svg class="bi bi-chevron-left" width="32" height="32"
                            viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M13.354 3.646a.5.5 0 010 .708L7.707 10l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                                clip-rule="evenodd" />
                        </svg></button>
                    <h2>
                    </h2>
                    <button class="switch-month switch-right"><svg class="bi bi-chevron-right" width="32" height="32"
                            viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                clip-rule="evenodd" /></svg></button>
                </div>
                <div class="calendar_weekdays"></div>
                <div class="calendar_content"></div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-8">
            <div class="container">
                <div class="row">
                    {{#each classes}}
                    <div class="col-sm-12 col-lg-6">
                        <!-- Card Flip -->
                        <div class="card-flip">
                            <div class="flip">
                                <div class="front">
                                    <!-- front content -->
                                    <div class="card" style="width: 18rem; margin: 2rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{dataValues.type}} class</h5>
                                            <p class="card-text">Date: {{#date-helper dataValues.time}}{{/date-helper}}
                                            </p>
                                            <p class="card-text">Day: {{#day-helper dataValues.time}}{{/day-helper}}</p>
                                            <p class="card-text">Time: {{#time-helper dataValues.time}}{{/time-helper}}
                                            </p>
                                            <p class="card-text">Room: {{dataValues.room}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="card" style="width: 18rem; margin: 2rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Trainer {{Trainer.dataValues.name}}</h5>
                                            <p class="card-text">{{Trainer.dataValues.introduction}}</p>
                                            <p>I'm looking forward to seeing you in this {{dataValues.type}} class!</p>
                                            <div class="d-flex justify-content-center">
                                                <button class="btn">RSVP</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>