<div class="container">
    <div class="row" style="margin: 2rem">
        <h3>Trainers</h3>
    </div>
</div>
<div class="container">
    <div class="row" style="margin: 2rem">
        {{#each this}}
        {{#if dataValues.id}}
        <div class="col-4">
            <div class="card" style="width: 18rem; margin: 2rem;">
                <img src="{{dataValues.photo}}" class="card-img-top" alt="{{dataValues.photo}}">
                <div class="card-body">
                    <h5 class="card-title">{{dataValues.name}}</h5>
                    <p class="card-text">{{dataValues.introduction}}</p>
                    <a href="/trainers/{{dataValues.id}}" class="btn btn-primary">Class Schedule</a>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>